<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ .article.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/basic.css">

    <meta property="og:title" content="{{ .og_title }}" />
    <meta property="og:url" content="{{ .og_url }}" />
    <meta property="og:image" content="{{ .og_image }}" />
    <meta property="og:site_name" content="Goose, la red social libre" />
    <meta property="og:description" content="{{ .og_description }}" />

    <meta name="twitter:card" content="summary" />

</head>
<body>

    <div class="workspace">

        <div style="float: right;">
            <div id="login">
                <a href="/auth/login">Login</a>
            </div>
            <div id="logout" style="display:none;">
                <img id="user_picture" src="" style="border-radius: 50%; height: 32px; vertical-align: middle;">
                <span id="user_nick" style="font-weight: bold;"></span>
                <a href="/auth/logout">Logout</a>
            </div>
        </div>

        <h1><a href="/">GoPress.org</a></h1>

        <article>
            <h2 style="margin-bottom: 0;">{{ .article.Title }}</h2>
            <div class="details">
                {{ if .AuthorPicture }}
                    <img class="avatar" src="{{ .AuthorPicture }}" alt="Author picture">
                {{ end }}
                <div>Created on {{ .article.CreatedOn }}</div>
                <div>Created by {{ .article.AuthorNick }}</div>
            </div>
            <div style="white-space: pre-wrap;">{{ .article.Content }}</div>
        </article>
    </div>

    <script>
        function id(s) {
            return document.getElementById(s);
        }

        fetch('/auth/me').then(resp => resp.json()).then(me => {
            if (me.error) return;
            id('login').style.display = 'none';
            id('logout').style.display = 'block';
            id('user_picture').setAttribute('src', me.picture);
            id('user_nick').innerText = me.nick;
        })
    </script>

</body>
</html>