<!DOCTYPE html>
<html lang="es">
<head>
    <title>{{ .tag }}</title>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/basic.css?v=3">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">{{ .headTrailCode }}
</head>
<body>

    <div class="workspace">

        <div style="float: right;">
            <div id="login">
                <a href="/auth/login">Login</a>
            </div>
            <div id="logout" style="display:none; text-align: right;">
                <img id="user_picture" src="" style="border-radius: 50%; height: 32px; vertical-align: middle;">
                <span id="user_nick" style="font-weight: bold;"></span><br>
                <a href="/admin/">Admin</a> | <a href="/auth/logout">Logout</a>
            </div>
        </div>

        <h1 class="logo">
            <a href="/">GoPress.org</a>
        </h1>

        {{ range $i, $article := .articles  }}
            <article class="list">
                <h2 style="margin-bottom: 0;">
                    {{ if .AuthorPicture }}
                        <a href="/user/{{ .AuthorNick }}"><img class="avatar" src="{{ .AuthorPicture }}" alt="Author picture"></a>
                    {{ end }}
                    <a href="/user/{{ .AuthorNick }}/article/{{ .Url }}">{{ .Title }}</a>
                </h2>
                <div class="details">
                    <span>Por <a href="/user/{{ .AuthorNick }}">{{ .AuthorNick }}</a></span>
                    /
                    <span>{{ .Stats.Views }} views</span>
                    /
                    <span alt="{{ .PublishOn }}">{{ .PublishOn.Format "2006-01-02" }}</span>
                </div>
                {{ .ContentSummary }}
                <a href="/user/{{ .AuthorNick }}/article/{{ .Url }}">Seguir leyendo</a>
            </article>
        {{ end }}

        <div class="footer">
            Gopress es software libre hecho con mucho ❤️ colabora en
            <a href="https://github.com/fulldump/gopress">
                <img class="icon" src="https://github.githubassets.com/favicons/favicon.png" alt="GitHub">
                GitHub
            </a>.
            <br>
            <a href="https://www.twitch.tv/fulldump">
                <img class="icon" src="https://static.twitchcdn.net/assets/favicon-32-e29e246c157142c94346.png" alt="Twitch">
                twitch.tv/fulldump
            </a>
            <a href="https://www.youtube.com/watch?v=xweWe4ve8vE&list=PLMPsqnO6mKSA3iQzqaRIi_1qVONlQN8ap&index=1">
                <img class="icon" src="https://www.youtube.com/s/desktop/286e6262/img/favicon_32x32.png" alt="YouTube">
                youtube.com/@fulldump
            </a>
        </div>

    </div>

    <script>
        function id(s) {
            return document.getElementById(s);
        }

        fetch('/auth/me').then(resp => resp.json()).then(me => {
            if (me.error) return;
            id('login').style.display = 'none';
            id('logout').style.display = 'block';
            id('user_picture').setAttribute('src', me.picture);
            id('user_nick').innerText = me.nick;
        })
    </script>

</body>
</html>