html, body {
  font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
}

a {
  color: deepskyblue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#login, #logout {
  font-family: sans-serif;
}

.logo {
  font-size: 250%;
  font-weight: bold;
  text-align: left;

  text-decoration-line: underline;
  text-decoration-style: double;
  text-decoration-color: deepskyblue;
  text-decoration-thickness: 1px;
}

.logo a {
  color: black;
}

.logo a:hover {
  text-decoration: none;
  color: deepskyblue;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.tags {
  padding: 8px;
}

.tag {
  padding: 4px 8px;
  text-decoration: none !important;
  text-transform: uppercase;
  border-left: 0px solid silver;
}

.tag:first-child {
  border-left: none;
}

.workspace {
  max-width: 800px;
  padding: 16px;
  margin: 0 auto;
}

.workspace > h1 {
  margin: 0;
}

.avatar {
  display: inline-block;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

article code.code-block {
  display: block;
  font-family: Menlo, Monaco, Consolas, Courier New, monospace;
  color: #41314e;
  line-height: 1.6em;
  font-size: 12px;
  background: #f8f7fa;
  border: 1px solid #f1f1f4;
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
  resize: vertical;
  padding: 4px;
}

article p,
article li {
  line-height: 32px;
  font-size: 20px;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-family: Geneva,Arial,sans-serif;
  font-weight: bold;
}

article h1 {
  line-height: 52px;
  letter-spacing: -0.011em;
  font-size: 42px;
  font-weight: 700;
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 40px;
  margin-bottom: 0;
  text-align: center;

  position: sticky;
  top: 0;
  background: white;
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,0.0) 100%);
}

article h1::selection {
  background: #333333;
  color: white;
}

article h2 {
  letter-spacing: -0.016em;
  line-height: 30px;
  margin-top: 1.95em;
  font-size: 24px;
  margin-bottom: -0.28em;
  font-weight: 600;
}

article h3 {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 1.72em;
  font-size: 20px;
  margin-bottom: -0.31em;
  line-height: 1.18;
  font-weight: 600;
}

article.list {
  max-width: 600px;
  line-height: 150%;
  margin: 0 auto;
}

article.list h2 a {
  color: #333;
}

.details {
  font-family: sans-serif;
  color: gray;
  padding: 16px;
  text-align: center;
}

.details a {
  color: inherit;
  text-decoration: underline;
}

.details a:hover {
  color: deepskyblue;
}

.details .avatar {
  margin-left: -56px;
}

.details .tags {

}


/* Editor style */
.inline-code {
  background: rgba(250, 239, 240, 0.78);
  color: #b44437;
  padding: 3px 4px;
  border-radius: 5px;
  margin: 0 1px;
  font-family: inherit;
  font-size: 0.86em;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.table {
  width: 100%;
}

.table td,
.table th {
  text-align: left;
}

figure.quote {
  max-width: 600px;
  margin: 20px auto;
}

figure.quote blockquote {
  font-size: 25px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  color: #666;
  background: url(/img/comillas.png) no-repeat left top;
}

figure.quote blockquote p {
  margin: 0;
}

figure.quote figcaption {
  text-align: right;
}

figure.warning {
  max-width: 600px;
  margin: 20px auto;
  background-color: lightyellow;
  border: solid darkorange 1px;
  border-radius: 6px;
  padding: 8px;
}

figure.warning figcaption{
  font-weight: bold;
  font-size: 150%;
  color: darkorange;
}

figure.warning blockquote {
  font-size: 120%;
}

.attaches {
  max-width: 600px;
  margin: 0 auto;
}

.attaches a {
  display: block;
  border: solid #a8d6ff 1px;
  border-radius: 4px;
  padding: 8px;
  margin: 4px;
  cursor: pointer;
  text-decoration: none;
}

.attaches a:hover {
  border-color: dodgerblue;
}

.image {
  margin: 20px 0;
}

.image img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.image.image-withborder .border {
  border: solid silver 1px;
}

.image.image-stretched img {
  width: 100%;
}

.footer {
  margin-top: 32px;
  min-height: 64px;
  border-top: solid silver 1px;
  text-align: center;
  padding: 16px;
  color: gray;
  font-size: 100%;
}

.footer .icon {
  vertical-align: middle;
  height: 24px;
}

.footer a {
  color: inherit;
}

.footer a:hover {
  color: dodgerblue;
}

@media (max-width: 500px) {
  .logo {
    text-align: left;
  }
  .logo a {
    color: red;
    width: 0;
    height: 36px;
    overflow: hidden;
    display: inline-block;
  }
  .logo a::before {
    position: absolute;
    display: inline-block;
    content: ' ';
    height: 46px;
    width: 46px;
    background-image: url('/android-chrome-192x192.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
}

@media (prefers-color-scheme: dark) {
  html, body {
    background: #1b1b1b;
    color: white;
  }

  .logo a {
    color: deepskyblue;
  }

  .logo {
    text-decoration-color: white;
  }

  details {
    color: #444;
  }

  article h1 {
    background: #1b1b1b;
    background: linear-gradient(180deg, rgba(27, 27, 27, 1) 0%, rgba(27, 27, 27, 1) 65%, rgba(27, 27, 27, 0.0) 100%);
  }

  article.list h2 a {
    color: white;
  }
}
